<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>rows</key>
	<integer>4</integer>
	<key>LevelName</key>
	<string>0</string>
	<key>theme</key>
	<string>moderm</string>
	<key>portraitOrientation</key>
	<integer>0</integer>
	<key>timeOut</key>
	<integer>48</integer>
	<key>minScore</key>
	<integer>0</integer>
	<key>symbolGeneration</key>
	<string>runtime</string>
	<key>machineSensitivity</key>
	<real>0.005</real>
	<key>.spriteSheet</key>
	<string>Level3.plist</string>
	<key>animations</key>
	<array>
		<dict>
			<key>name</key>
			<string>damage-left</string>
			<key>spriteFrameName</key>
			<string>damage-left.png</string>
			<key>type</key>
			<string>addSprite</string>
			<key>opacity</key>
			<integer>0</integer>
			<key>damagePercent</key>
			<integer>0</integer>
			<key>position.x</key>
			<integer>12</integer>
			<key>position.y</key>
			<integer>145</integer>
			<key>zOrder</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>changeAlpha</string>
			<key>name</key>
			<string>damage-left</string>
			<key>opacity</key>
			<string>50</string>
			<key>damagePercent</key>
			<string>10</string>
		</dict>
		<dict>
			<key>type</key>
			<string>changeAlpha</string>
			<key>name</key>
			<string>damage-left</string>
			<key>opacity</key>
			<string>100</string>
			<key>damagePercent</key>
			<string>20</string>
		</dict>
		<dict>
			<key>type</key>
			<string>changeAlpha</string>
			<key>name</key>
			<string>damage-left</string>
			<key>opacity</key>
			<string>150</string>
			<key>damagePercent</key>
			<string>30</string>
		</dict>
		<dict>
			<key>type</key>
			<string>changeAlpha</string>
			<key>name</key>
			<string>damage-left</string>
			<key>opacity</key>
			<string>200</string>
			<key>damagePercent</key>
			<string>40</string>
		</dict>
		<dict>
			<key>type</key>
			<string>changeAlpha</string>
			<key>name</key>
			<string>damage-left</string>
			<key>opacity</key>
			<string>255</string>
			<key>damagePercent</key>
			<string>50</string>
		</dict>
	</array>
	<key>tracks</key>
	<array>
		<dict>
			<key>status</key>
			<integer>1</integer>
			<key>speed</key>
			<real>-127.5</real>
			<key>pausedTime</key>
			<real>3.125</real>
			<key>accelerometerSensibility</key>
			<integer>0</integer>
			<key>disacceleration</key>
			<string>0</string>
			<key>maxSpeed</key>
			<integer>-300</integer>
			<key>symbolReplacement</key>
			<integer>0</integer>
			<key>symbols2</key>
			<string>ATGTCAAGATCGACACACGC</string>
		</dict>
		<dict>
			<key>status</key>
			<integer>1</integer>
			<key>speed</key>
			<real>127.5</real>
			<key>pausedTime</key>
			<real>3.125</real>
			<key>accelerometerSensibility</key>
			<integer>0</integer>
			<key>maxSpeed</key>
			<integer>1000</integer>
			<key>disacceleration</key>
			<string>0</string>
			<key>symbolReplacement</key>
			<integer>0</integer>
			<key>symbols2</key>
			<string>AGGGTCATGATCGACTCTCGC</string>
		</dict>
		<dict>
			<key>status</key>
			<integer>1</integer>
			<key>speed</key>
			<real>-127.5</real>
			<key>pausedTime</key>
			<real>3.125</real>
			<key>maxSpeed</key>
			<string>-150</string>
			<key>accelerometerSensibility</key>
			<integer>0</integer>
			<key>disacceleration</key>
			<integer>0</integer>
			<key>symbolReplacement</key>
			<integer>0</integer>
			<key>symbols2</key>
			<string>AGCGTCACAGGATCGACCGCGCCGC</string>
		</dict>
		<dict>
			<key>status</key>
			<integer>1</integer>
			<key>speed</key>
			<real>127.5</real>
			<key>pausedTime</key>
			<real>3.125</real>
			<key>maxSpeed</key>
			<string>150</string>
			<key>accelerometerSensibility</key>
			<integer>0</integer>
			<key>disacceleration</key>
			<integer>0</integer>
			<key>symbolReplacement</key>
			<integer>0</integer>
			<key>symbols2</key>
			<string>TGAAGCGGTATCCGAGCGCTCGGTA</string>
		</dict>
		<dict>
			<key>status</key>
			<integer>1</integer>
			<key>speed</key>
			<real>-127.5</real>
			<key>pausedTime</key>
			<real>3.125</real>
			<key>maxSpeed</key>
			<string>-150</string>
			<key>accelerometerSensibility</key>
			<integer>0</integer>
			<key>disacceleration</key>
			<integer>0</integer>
			<key>symbolReplacement</key>
			<integer>0</integer>
			<key>symbols2</key>
			<string>TGAAGCGGTATCCGAGCGCTCGGTA</string>
		</dict>
		<dict>
			<key>status</key>
			<integer>1</integer>
			<key>speed</key>
			<real>127.5</real>
			<key>pausedTime</key>
			<real>3.125</real>
			<key>maxSpeed</key>
			<string>150</string>
			<key>accelerometerSensibility</key>
			<integer>0</integer>
			<key>disacceleration</key>
			<integer>0</integer>
			<key>symbolReplacement</key>
			<integer>0</integer>
			<key>symbols2</key>
			<string>TGAAGCGGTATCCGAGCGCTCGGTA</string>
		</dict>
		<dict>
			<key>status</key>
			<integer>1</integer>
			<key>speed</key>
			<real>-127.5</real>
			<key>pausedTime</key>
			<real>3.125</real>
			<key>maxSpeed</key>
			<string>-150</string>
			<key>accelerometerSensibility</key>
			<integer>0</integer>
			<key>disacceleration</key>
			<integer>0</integer>
			<key>symbolReplacement</key>
			<integer>0</integer>
			<key>symbols2</key>
			<string>TGAAGCGGTATCCGAGCGCTCGGTA</string>
		</dict>
	</array>
</dict>
</plist>
