<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>rows</key>
	<integer>6</integer>
	<key>LevelName</key>
	<string>0</string>
	<key>theme</key>
	<string>moderm</string>
	<key>portraitOrientation</key>
	<integer>1</integer>
	<key>timeOut</key>
	<integer>60</integer>
	<key>minScore</key>
	<integer>550</integer>
	<key>tracks</key>
	<array>
		<dict>
			<key>status</key>
			<integer>1</integer>
			<key>speed</key>
			<integer>-34</integer>
			<key>pausedTime</key>
			<integer>2</integer>
			<key>accelerometerSensibility</key>
			<integer>5</integer>
			<key>disacceleration</key>
			<string>1</string>
			<key>maxSpeed</key>
			<integer>-300</integer>
			<key>symbolReplacement</key>
			<integer>0</integer>
			<key>symbols</key>
			<string>ATGTCAAGATCGACACACGC</string>
		</dict>
		<dict>
			<key>status</key>
			<integer>1</integer>
			<key>speed</key>
			<integer>68</integer>
			<key>pausedTime</key>
			<real>2.75</real>
			<key>accelerometerSensibility</key>
			<integer>5</integer>
			<key>maxSpeed</key>
			<integer>100</integer>
			<key>disacceleration</key>
			<string>1</string>
			<key>symbolReplacement</key>
			<integer>0</integer>
			<key>symbols</key>
			<string>AGGGTCATGATCGACTCTCGC</string>
		</dict>
		<dict>
			<key>status</key>
			<integer>1</integer>
			<key>speed</key>
			<integer>102</integer>
			<key>pausedTime</key>
			<integer>3</integer>
			<key>maxSpeed</key>
			<string>150</string>
			<key>accelerometerSensibility</key>
			<integer>0</integer>
			<key>disacceleration</key>
			<integer>0</integer>
			<key>symbolReplacement</key>
			<integer>0</integer>
			<key>symbols</key>
			<string>AGCGTCACAGGATCGACCGCGCCGC</string>
		</dict>
		<dict>
			<key>status</key>
			<integer>1</integer>
			<key>speed</key>
			<integer>136</integer>
			<key>pausedTime</key>
			<real>3.125</real>
			<key>maxSpeed</key>
			<string>150</string>
			<key>accelerometerSensibility</key>
			<integer>0</integer>
			<key>disacceleration</key>
			<integer>0</integer>
			<key>symbolReplacement</key>
			<integer>0</integer>
			<key>symbols</key>
			<string>TGAAGCGGTATCCGAGCGCTCGGTA</string>
		</dict>
	</array>
</dict>
</plist>
