<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>rows</key>
	<integer>6</integer>
	<key>LevelName</key>
	<string>0</string>
	<key>theme</key>
	<string>moderm</string>
	<key>tracks</key>
	<array>
		<dict>
			<key>status</key>
			<integer>1</integer>
			<key>speed</key>
			<real>-25.5</real>
			<key>pausedTime</key>
			<real>0.7</real>
			<key>accelerometerSensibility</key>
			<integer>10</integer>
			<key>disacceleration</key>
			<string>1</string>
			<key>maxSpeed</key>
			<integer>-100</integer>
			<key>symbolReplacement</key>
			<integer>0</integer>
			<key>symbols</key>
			<string>ATGCATGCATGC</string>
		</dict>
		<dict>
			<key>status</key>
			<integer>1</integer>
			<key>speed</key>
			<integer>51</integer>
			<key>pausedTime</key>
			<real>1.4</real>
			<key>accelerometerSensibility</key>
			<integer>5</integer>
			<key>maxSpeed</key>
			<integer>100</integer>
			<key>disacceleration</key>
			<string>1</string>
			<key>symbolReplacement</key>
			<integer>0</integer>
			<key>symbols</key>
			<string>ATATATATAT</string>
		</dict>
		<dict>
			<key>status</key>
			<integer>1</integer>
			<key>speed</key>
			<real>76.5</real>
			<key>pausedTime</key>
			<real>2.1</real>
			<key>accelerometerSensibility</key>
			<integer>0</integer>
			<key>disacceleration</key>
			<integer>0</integer>
			<key>symbolReplacement</key>
			<integer>0</integer>
			<key>symbols</key>
			<string>GATGATGATGAGAGA</string>
		</dict>
		<dict>
			<key>status</key>
			<integer>1</integer>
			<key>speed</key>
			<real>102</real>
			<key>pausedTime</key>
			<real>2.8</real>
			<key>accelerometerSensibility</key>
			<integer>0</integer>
			<key>disacceleration</key>
			<integer>0</integer>
			<key>symbolReplacement</key>
			<integer>0</integer>
			<key>symbols</key>
			<string>GATGATGATGATGAT</string>
		</dict>
		<dict>
			<key>status</key>
			<integer>1</integer>
			<key>speed</key>
			<real>127.5</real>
			<key>pausedTime</key>
			<real>3.5</real>
			<key>accelerometerSensibility</key>
			<integer>0</integer>
			<key>disacceleration</key>
			<integer>0</integer>
			<key>symbolReplacement</key>
			<integer>0</integer>
			<key>symbols</key>
			<string>AGAGAGAGAGAGAG</string>
		</dict>
		<dict>
			<key>status</key>
			<integer>1</integer>
			<key>pausedTime</key>
			<real>4.2</real>
			<key>speed</key>
			<string>146</string>
			<key>accelerometerSensibility</key>
			<integer>0</integer>
			<key>disacceleration</key>
			<integer>0</integer>
			<key>symbolReplacement</key>
			<integer>0</integer>
			<key>symbols</key>
			<string>GGGGGGGGGG</string>
		</dict>
	</array>
</dict>
</plist>
