<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>rows</key>
	<integer>6</integer>
	<key>LevelName</key>
	<string>0</string>
	<key>theme</key>
	<string>moderm</string>
	<key>timeOut</key>
	<integer>50</integer>
	<key>minScore</key>
	<integer>350</integer>
	<key>machineSensitivity</key>
	<integer>2</integer>
	<key>animations</key>
	<array>
		<dict>
			<key>name</key>
			<string>blue-screen</string>
			<key>spriteFrameName</key>
			<string>blue-screen.png</string>
			<key>type</key>
			<string>addSprite</string>
			<key>damagePercent</key>
			<integer>100</integer>
			<key>position.x</key>
			<integer>240</integer>
			<key>position.y</key>
			<integer>140</integer>
			<key>zOrder</key>
			<integer>-10</integer>
		</dict>
	</array>
	<key>tracks</key>
	<array>
		<dict>
			<key>status</key>
			<integer>1</integer>
			<key>speed</key>
			<real>-25.5</real>
			<key>pausedTime</key>
			<real>1.7</real>
			<key>accelerometerSensibility</key>
			<integer>0</integer>
			<key>disacceleration</key>
			<string>0</string>
			<key>maxSpeed</key>
			<integer>-100</integer>
			<key>symbolReplacement</key>
			<integer>0</integer>
			<key>symbols</key>
			<string>ATGTCAAGATCGACACACGC</string>
		</dict>
		<dict>
			<key>status</key>
			<integer>1</integer>
			<key>speed</key>
			<integer>51</integer>
			<key>pausedTime</key>
			<real>2.4</real>
			<key>accelerometerSensibility</key>
			<integer>0</integer>
			<key>maxSpeed</key>
			<integer>100</integer>
			<key>disacceleration</key>
			<string>0</string>
			<key>symbolReplacement</key>
			<integer>0</integer>
			<key>symbols</key>
			<string>AGGGTCATGATCGACTCTCGC</string>
		</dict>
		<dict>
			<key>status</key>
			<integer>1</integer>
			<key>speed</key>
			<real>76.5</real>
			<key>pausedTime</key>
			<real>3.1</real>
			<key>maxSpeed</key>
			<string>150</string>
			<key>accelerometerSensibility</key>
			<integer>0</integer>
			<key>disacceleration</key>
			<integer>0</integer>
			<key>symbolReplacement</key>
			<integer>0</integer>
			<key>symbols</key>
			<string>AGCGTCACAGGATCGACCGCGCCGC</string>
		</dict>
		<dict>
			<key>status</key>
			<integer>1</integer>
			<key>speed</key>
			<integer>-102</integer>
			<key>maxSpeed</key>
			<string>-100</string>
			<key>pausedTime</key>
			<real>3.8</real>
			<key>accelerometerSensibility</key>
			<integer>0</integer>
			<key>disacceleration</key>
			<integer>0</integer>
			<key>symbolReplacement</key>
			<integer>0</integer>
			<key>symbols</key>
			<string>TGAAGCGGTATCCGAGCGCTCGGTA</string>
		</dict>
		<dict>
			<key>status</key>
			<integer>1</integer>
			<key>speed</key>
			<real>127.5</real>
			<key>pausedTime</key>
			<real>4.5</real>
			<key>maxSpeed</key>
			<string>150</string>
			<key>accelerometerSensibility</key>
			<integer>0</integer>
			<key>disacceleration</key>
			<integer>0</integer>
			<key>symbolReplacement</key>
			<integer>0</integer>
			<key>symbols</key>
			<string>ATAGCGGATTCGAGCTTTGATA</string>
		</dict>
		<dict>
			<key>status</key>
			<integer>1</integer>
			<key>pausedTime</key>
			<real>5.2</real>
			<key>speed</key>
			<string>146</string>
			<key>accelerometerSensibility</key>
			<integer>0</integer>
			<key>maxSpeed</key>
			<string>150</string>
			<key>disacceleration</key>
			<integer>0</integer>
			<key>symbolReplacement</key>
			<integer>0</integer>
			<key>symbols</key>
			<string>TAGCGCATACGAGCATAGATA</string>
		</dict>
	</array>
</dict>
</plist>
